detecto==1.2.2
geopandas==0.13.2
matplotlib==3.7.1
numpy==1.24.2
pandas==2.0.3
Pillow==10.3.0
pyproj==3.5.0
pytest==8.3.5
pytest-mock==3.14.0
rasterio==1.3.9
requests==2.32.3
shapely==2.0.3
scikit-image==0.20.0
tensorflow==2.13.0
torch==1.13.1
torchvision==0.14.1
opencv-python-headless==4.11.0.86
scikit-learn==1.3.2
h5py==3.11.0