ConfigParser==6.0.0
cx_Freeze==7.2.8
detecto==1.2.2
geopandas==0.12.2
matplotlib==3.9.0
numpy==1.26.0
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.3.0
Pillow==11.2.1
py2exe==0.12.0.0
pyproj==3.7.0
pytest==7.4.4
rasterio==1.4.2
Requests==2.32.3
setuptools==75.6.0
Shapely==2.1.1
skimage==0.0
sphinx_rtd_theme==3.0.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
torch==2.5.0
torchvision==0.20.0
torchvision==0.20.1
